@{
    ViewData["Title"] = "Přístup odepřen";
}

<div class="text-center mt-5">
    <h2 class="text-danger">Přístup odepřen</h2>
    <p>Nemáte oprávnění k přístupu na tuto stránku.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-danger mt-3">Zpět na hlavní stránku</a>
</div>
