@{
    ViewData["Title"] = "Nenalezeno";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">404 - Nenalezeno</h1>
    <p class="lead">Omlouváme se, požadovaný záznam nebyl nalezen.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-danger mt-4">Zpět na hlavní stránku</a>
</div>